
/* PARALLAX */

.keyart, .keyart_layer {
	height: 1000px;
}

#parallax {
	display: block;
}
#nonparallax {
	display: block;
}


.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	width: 100%;
	position: relative;
}
.keyart_layer.parallax {
	position: absolute;
}
	#keyart-0 {
		background-image: url('../images/parallax/parallax0.png');
		background-color: #4678bd;
	}
	#keyart-1 {
		background-image: url('../images/parallax/parallax1.png');
	}
	#keyart-2 {
		background-image: url('../images/parallax/parallax2.png');
	}
	#keyart-3 {
		background-image: url('../images/parallax/parallax3.png');
	}
	#keyart-4 {
		background-image: url('../images/parallax/parallax4.png');
	}
	#keyart-5 {
		background-image: url('../images/parallax/parallax5.png');
	}
	#keyart-6 {
		background-image: url('../images/parallax/parallax6.png');
	}
	#keyart-8 {
		background-image: url('../images/parallax/parallax8.png');
	}
	#keyart-scrim {
		background-color: #4678bd;
		opacity: 0;
	}



/********************/
/********************/
/* ENABLES PARALLAX */
/********************/
/********************/

@media (min-width: 601px) {

	#nonparallax {
		display: none;
	}
	#parallax {
		display: block;
	}

}

/* PARALLAX */

	.keyart, .keyart_layer {
		height: 550px;
	}

	.keyart_layer {
		position: absolute;
		background-size: auto auto;
	}
}

