#carousel-control{
  width: 40px !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin-top: 60px;
  background-size: 100%, 100%;
  background-image: none;
}
@media only screen and (max-device-width: 1365px) {
      .mobile {
        padding: 100px 5px 0px 5px;
        display: block;
      }
      .laptops {
        display: none;
      }
    }

 @media only screen and (min-device-width: 1366px) {
      .mobile {
        display: none;
      }
      .laptops{
        display: block;
      }
    }

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: black;
}
.car-c{
  list-style-type: none;
  padding-inline-start:0;
}
