.effect-parent {
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
    }


/* EFFECT 1 */
.effect-1 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -300px;
    -moz-transform-origin: 50% 50% -300px;
    transform-origin: 50% 50% -300px;
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    -webkit-animation: fly ease-in-out forwards;
    -moz-animation: fly ease-in-out forwards;
    animation: fly ease-in-out forwards;
}
@-webkit-keyframes fly {
    100% { -webkit-transform: rotateX(0deg); opacity: 1; -webkit-transform-origin:50% 50% 0; }
}

@-moz-keyframes fly {
    100% { -moz-transform: rotateX(0deg); opacity: 1; -moz-transform-origin:50% 50% 0; }
}

@keyframes fly {
    100% { transform: rotateX(0deg); opacity: 1; transform-origin:50% 50% 0; }
}



/* EFFECT 2 */
.effect-2 {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp ease forwards;
    -moz-animation: moveUp ease forwards;
    animation: moveUp ease forwards;
}

@-webkit-keyframes moveUp {
    to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
    to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
    to { transform: translateY(0); opacity: 1; }
}


/* EFFECT 3 */
.effect-3 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    -moz-transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    transform: translateZ(400px) translateY(300px) rotateX(-90deg);
    -webkit-animation: fallPerspective ease-in-out forwards;
    -moz-animation: fallPerspective ease-in-out forwards;
    animation: fallPerspective ease-in-out forwards;
}

@-webkit-keyframes fallPerspective {
    100% { -webkit-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@-moz-keyframes fallPerspective {
    100% { -moz-transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}

@keyframes fallPerspective {
    100% { transform: translateZ(0px) translateY(0px) rotateX(0deg); opacity: 1; }
}


/* EFFECT 4 */
.effect-4 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateX(-80deg);
    -moz-transform: rotateX(-80deg);
    transform: rotateX(-80deg);
    -webkit-animation: flip ease-in-out forwards;
    -moz-animation: flip ease-in-out forwards;
    animation: flip ease-in-out forwards;
}

@-webkit-keyframes flip {
    100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@-moz-keyframes flip {
    100% { -moz-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
    100% { transform: rotateX(0deg); opacity: 1; }
}


/* EFFECT 5 */
.effect-5 {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-animation: moveUp ease-in-out forwards;
    -moz-animation: moveUp ease-in-out forwards;
    animation: moveUp ease-in-out forwards;
}


/* EFFECT 6 */
.effect-6 {

    -webkit-transform:  scale(0.638) translate(-179px);
    -moz-transform:     scale(0.638) translate(-179px);
    transform:          scale(0.638) translate(-179px);

    -webkit-animation: moveUp ease-in-out forwards;
    -moz-animation: moveUp ease-in-out forwards;
    animation: moveUp ease-in-out forwards;
}





/* Universal durations */
.effect-duration-1{
    -webkit-animation-duration: .4s;
    -moz-animation-duration:    .4s;
    animation-duration:         .4s;
}
.effect-duration-2{
    -webkit-animation-duration: .5s;
    -moz-animation-duration:    .5s;
    animation-duration:         .5s;
}
.effect-duration-3{
    -webkit-animation-duration: .6s;
    -moz-animation-duration:    .6s;
    animation-duration:         .6s;
}
.effect-duration-4{
    -webkit-animation-duration: .7s;
    -moz-animation-duration:    .7s;
    animation-duration:         .7s;
}
.effect-duration-5{
    -webkit-animation-duration: .8s;
    -moz-animation-duration:    .8s;
    animation-duration:         .8s;
}
.effect-duration-6{
    -webkit-animation-duration: .9s;
    -moz-animation-duration:    .9s;
    animation-duration:         .9s;
}
.effect-duration-7{
    -webkit-animation-duration: .95s;
    -moz-animation-duration:    .95s;
    animation-duration:         .95s;
}
.effect-duration-8{
    -webkit-animation-duration: 1s;
    -moz-animation-duration:    1s;
    animation-duration:         1s;
}
.effect-duration-9{
    -webkit-animation-duration: 1.05s;
    -moz-animation-duration:    1.05s;
    animation-duration:         1.05s;
}
.effect-duration-10{
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration:    1.1s;
    animation-duration:         1.1s;
}
.container-scrolling {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0
}

.container-scrolling::-webkit-scrollbar {
  width: 0;
  background: transparent
}

.box-container {
  display: block;
  position: relative;
  margin: 1vw
}

.box-container:after {
  content: "";
  display: table;
  clear: both
}

@media screen and (min-width: 36em) {
  .box-container {
    margin: 1vw
  }
}

@media screen and (min-width: 85em) {
  .box-container {
    margin: 1vw auto;
    width: 80vw
  }
}

.box-container a {
  color: #000
}

.box-large, .box-medium, .box-small {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 1%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15)
}

.box-large.box-right, .box-medium.box-right, .box-small.box-right {
  float: right
}

@media screen and (min-width: 62em) {
  .box-large, .box-medium, .box-small {
    margin: 1%
  }
}

.box-large {
  width: 98%;
  height: 105vw;
  font-size: 9px
}

@media screen and (min-width: 62em) {
  .box-large {
    width: 48%;
    height: 52vw
  }
}

@media screen and (min-width: 85em) {
  .box-large {
    height: 42vw;
    font-size: 14px
  }
}

.box-large .box-content {
  width: 50%;
  padding: 24px 32px
}

.box-medium {
  width: 98%;
  height: 51vw;
  font-size: 9px
}

@media screen and (min-width: 62em) {
  .box-medium {
    width: 48%;
    height: 25vw
  }
}

@media screen and (min-width: 85em) {
  .box-medium {
    height: 20vw;
    font-size: 12px
  }
}

.box-medium .box-content {
  width: 50%;
  padding: 16px 24px
}

.box-small {
  width: 48%;
  height: 51vw;
  font-size: 9px
}

@media screen and (min-width: 36em) {
  .box-small {
    font-size: 10px
  }
}

@media screen and (min-width: 62em) {
  .box-small {
    width: 23%;
    height: 25vw
  }
}

@media screen and (min-width: 85em) {
  .box-small {
    height: 20vw
  }
}

.box-small .box-content {
  width: 70%;
  padding: 12px 16px
}

.box-small .box-content {
  width: auto
}

.box-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 103%
}

.box-image-small {
  top: 10%;
  left: 20%;
  width: 60%
}

.box-subtitle {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0
}

.box-title {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 6px
}

@media screen and (max-width: 35.99em) {
  .box-title {
    font-size: 14px;
    line-height: 18px
  }
}

.box-text {
  font-size: 14px;
  line-height: 1.3em;
  margin: 0
}

@media screen and (max-width: 35.99em) {
  .box-text {
    display: none
  }
}

.box-price {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold
}

@media screen and (max-width: 35.99em) {
  .box-price {
    display: none
  }
}

.box-price span {
  font-size: 14px;
  color: #000;
  line-height: 12px;
  padding-right: 8px
}

.box-price strike {
  color: #000;
  font-size: 14px;
  font-weight: regular
}

.featured-scrolling-container {
  padding-top: 10px;
  padding-bottom: 30px
}

@media screen and (max-width: 61.99em) {
  .featured-scrolling-container {
    width: 1240px
  }
}

.card-small {
  display: inline-block;
  border-radius: 4px;
  margin: 0 13px;
  background: #fff;
  width: 280px
}

@media screen and (min-width: 62em) {
  .card-small {
    width: 22.5vw;
    margin: 0 0.6vw
  }
}

@media screen and (min-width: 85em) {
  .card-small {
    width: 18vw;
    margin: 0 0.6vw
  }
}

.card-image {
  display: block;
  width: 100%
}

.card-text {
  position: relative;
  padding: 5%
}

.card-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400
}

.card-subtitle {
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 700
}

.card-price {
  position: absolute;
  bottom: 8px;
  right: 12px;
  font-weight: bold;
  color: #2ad173
}

.card-animation {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out
}

.card-animation:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: scale(1.04)
}

.cell-container {
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: left
}

.cell-container .cell-container {
  display: none;
  width: 100%;
  background: #eee;
  border: solid 1px #ddd;
  border-right: none;
  border-left: none;
  left: 0
}

@media screen and (min-width: 62em) {
  .cell-container .cell-container {
    top: 12vw;
    margin-top: -1px;
    z-index: -1
  }
}

@media screen and (min-width: 85em) {
  .cell-container .cell-container {
    top: 9vw
  }
}

.section-title+.cell-container .cell-container {
  margin-top: 67px
}

.tab-container>.cell-container {
  height: 12vw;
  overflow: hidden;
  transition: all 0.3s ease-in-out
}

.tab-container.is-active>.cell-container {
  height: 24vw
}

.cell-small {
  display: inline-block;
  margin: 0
}

@media screen and (min-width: 62em) {
  .cell-small {
    width: 220px;
    height: auto;
    margin: 10px 0
  }

  .cell-small.tab {
    padding: 0
  }

  .cell-small .tab-title {
    padding: 1vw 0
  }
}

@media screen and (min-width: 85em) {
  .cell-small {
    height: auto
  }
}

.cell-small:first-child::before {
  display: none
}

.cell-small.is-active::before, .cell-small.is-active+*::before {
  background: transparent
}

.cell-image {
  display: block;
  margin: 10px auto;
  height: 200px;
  width: 200px;
  padding: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%
}

.cell-image.product-micro-usb-to-usb-a-female-otg-adapter {
  background-image: url(/images/products/micro-usb-to-usb-a-female-otg-adapter.jpg)
}

.cell-image img {
  display: inline;
  width: 100%;
  height: auto;
  line-height: 100%;
  vertical-align: bottom
}

.cell-title, .cell-product-name {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 0.5vw
}

@media screen and (min-width: 62em) {
  .cell-title::after, .cell-product-name::after {
    content: "";
    display: block;
    margin: 10px auto 0 auto;
    width: 40%;
    height: 2px;
    background: #97f8ff;
    border-radius: 2px
  }
}

.cell-link {
  text-decoration: none;
  color: #000
}

.tab {
  transition: all 0.3s ease-in-out
}

.tab-container {
  position: relative
}

.tab-title {
  cursor: pointer;
  transition: all 0.3s ease-in-out
}

.tab-content {
  display: none
}

@media screen and (min-width: 62em) {
  .tab-content {
    position: absolute
  }
}

@media screen and (min-width: 85em) {
  .tab-content {
    width: 100vw
  }
}

.tab.is-active .tab-content {
  display: block;
  opacity: 1;
  z-index: 10
}

.tab.cell {
  border: solid 1px transparent;
  border-bottom: none;
  border-radius: 50%
}

.tab.cell:hover {
  background-color: rgba(0, 139, 250, 0.05)
}

.tab.cell.is-active {
  background: #eee;
  border-color: #ddd;
  border-radius: 8px 8px 0 0
}
