@font-face {
  font-family: 'raleway-regular';
  src: url('../fonts/raleway-regular.eot');
  src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-regular.woff') format('woff'),
    url('../fonts/raleway-regular.ttf') format('truetype'),
    url('../fonts/raleway-regular.svg#raleway-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway-semibold';
  src: url('../fonts/raleway-semibold.eot');
  src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-semibold.woff') format('woff'),
    url('../fonts/raleway-semibold.ttf') format('truetype'),
    url('../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway-bold';
  src: url('../fonts/raleway-bold.eot');
  src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/raleway-bold.woff') format('woff'),
    url('../fonts/raleway-bold.ttf') format('truetype'),
    url('../fonts/raleway-bold.svg#raleway-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Merriweather');

#global-nav {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 95px;
  width: 100%;
  background: #000 !important;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navbar-collapse{
  background-color: #000;
  width: 100%;
}
@media only screen and (min-device-width: 1024px) {
  .pull-right{
    margin-left: 35% !important;
  }
  .navbar-collapse{
      height: 55px;
  }
}
@media only screen and (min-device-width: 1244px) {
  .pull-right{
    margin-left: 55% !important;
  }
}
@media only screen and (max-width: 768px) {
  #abt-img{
    display: none;
  }
  #abt .s6{
    width: 100% !important;
  }
}


#mainCarousel{
  margin-top: 10vh;
}
nav.navbar.shrink {
  height: 55px !important;
}
#logo img{
  height: 80px;
  width: 300px;
  -webkit-transition: all 1.9s ease;
  transition: all 1.9s ease;
}
.gallery{
  margin-top: 170px !important;
}
.imgContainer{
  border: 50px!important;
}

nav.navbar.shrink img{
  height: 60px !important;
  width: 180px !important;
}
.nav-list {
  padding-right: 100px;
  list-style: none;
}
.nav-list li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}
.nav-link{
  font-size: 20px;
  color: #EBFF82 !important;
}
.nav-link:hover{
  color: #B08C00  !important;
}
.navbar-brand{
  font-size: 45px;
}
.scrolled-nav {
  height: 60px !important;
  line-height: 60px !important;
}
.about-content{
  padding-left: 10%;
  margin-right: 20%;
  padding-top: 4%;
}
.welcome{
  color: #000;
  margin-top: 8%;
  margin-left: 10%;
}
.welcome:after {
    content: '';
    display: block;
    margin-top: 30px;
    margin-left: 38%;
    width: 40px;
    border-top: 2px solid #444;
}
body {
  background: #fff;
  overflow-x: hidden !important;
}

a {
	text-decoration: none !important;
	color: #f7ff8d;
}
a:hover {
	color: #B08C00;
}
a img {
	border: none;
}
img {
	max-width: 100%;
}
iframe {
	border: none !important;
}

.color {
  color: #f7ff8d;
  padding-bottom: 2.5%;
  font-size: 5.7vh;
}
.color {
  padding-left: 20px;
  color: #fff;
}
.container-fluid {
  padding: 0% 0% 0% 0%;
  position: relative !important;
}
.section {
  margin-bottom: 2px;
  text-align: center;
  overflow: hidden;
}
.img-fluid{
  height: 700px !important;
  width: 100% !important;
}
#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 700px !important;
  background-color: black;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index: -30;
}
#section0{
  width: 100%;
  overflow: hidden;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
video::-webkit-media-controls {
  display: none !important;
}
h1, h2, h3, h4, h5, h6 {
  color: #626262;
  font-family: "raleway-regular", arial;
  letter-spacing: 1px;
  font-weight: bolder;
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
h2 {
  font-size: 1.5em;
  margin: .75em 0
}
h3 {
  font-size: 1.17em;
  margin: .83em 0
}
h5 {
  font-size: .83em;
  margin: 1.5em 0
}
h6 {
  font-size: .75em;
  margin: 1.67em 0
}

.box-container{
  text-align: center;
  align-content: center;
}
.box-container1{
  margin-top: 8% !important;
  text-align: center;
  align-content: center;
}
.box-container1 {
  display: block;
  position: relative;
}
.section-title{
  font-size: 40px;
  color: #000;
}

.box-container1:after {
  content: "";
  display: table;
  clear: both
}

@media screen and (min-width: 36em) {
  .box-container1 {
    margin: 1vw
  }
}

.box-container1 a {
  color: #000
}

.add{
    background-color:#ff0;}


.video {
  margin-bottom: 0 !important;
  z-index: -101;
}
.caption {
  padding-top: 150px;
}
.col-lg-4 {
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
}

.btn {
  margin-top: 20px;
  background-color: #f6dd4d;
}
.testimonials {
  position: relative;
  padding: 2% 1% 1% 1%;
}
.fpheading {
  margin-top: 0px;
  padding: 1% 1% 1% 1%;
  display: block;
  min-width: 100%;
  background-color: #110f07;
}
.fpheading h1 {
  color: #fffa67;
  font-size: 8vh;
  font-family: "raleway-regular", arial;
}
.carousel {
  background-color: transparent;
  width: 100%;
  height: auto;
}
.pro {
  width: 80%;
  margin-left: 9%;
}
.carousel-caption {
  width: 30%;
  margin-left: 40%;
  margin-bottom: 10%;
  ;
  z-index: 10;
  font-size: 3vh;
}
.carousel-caption h2 {
  color: #f7ff8d;
}
.slideshow1 {
  background-color: #110f07;
  background-size: cover;
  background-position: center;
  text-align: center;
}
/*.carousel .item {
  height: 600px;
}*/
.carousel-inner>.item>img {
  position: relative;
  top: 0;
  left: 0;
}
.fproducts {
  background-color: white;
  z-index: 10000;
  position: relative;
  padding-top: 2% 1% 1% 1%;
}
.row {
  z-index: 100001;
}
.button1 {
  margin-left: 39%;
  background-color: Transparent;
  border-color: transparent;
  color: #f7ff8d;
}

/*.footer {
  padding: 35px 0;
  padding-right: 35px;
  margin: 0;
  position: fixed bottom center;
  left: 0;
  right: 0;
  bottom: 0px !important;
  height: auto;
    display: block;
    width: 100%;
    background: #000;
    margin: 50px 0 0 0;
    box-shadow: 0 0 100px rgba(0,0,0,0.3);
    z-index: 100;
}
footer .footer_logo {
  float: left;
}
footer .rights p {
  float: left;
  color: #f7ff8d;
  font-family: "raleway-regular";
  font-size: 13px;
  margin: 5px 0 0 40px;
}
footer .rights p a {
  color: #f7ff8d;
  font-family: "raleway-semibold";
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
footer nav ul {
  float: right;
  overflow: hidden;
  list-style: none;
  margin-top: 5px;
}
footer nav ul li {
  float: left;
  margin-left: 25px;
}
footer nav ul li a {
  color: #f7ff8d;
  font-family: "raleway-regular";
  font-size: 13px;
  text-decoration: none;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}
footer nav ul li a:hover {
  text-decoration: none;
  color: #616161;
}
.footer-content {
  color: #f7ff8d;
  text-align: center;
}
.footer-content h4, h6 {
  color: #f7ff8d;
}*/
.footer {
  display: block;
  position: relative;
  width: 100%;
  background: #000;
  margin: 100px 0 0 0;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
  z-index: 100
}

.footer:after {
  content: "";
  display: table;
  clear: both
}

.footer-container {
  overflow: visible
}

.footer-copyright {
  display: block;
  clear: both;
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 0
}

.footer-copyright-text {
  font-size: 14px;
  line-height: 20px;
  margin: 0
}

@media screen and (max-width: 35.99em) {
  .footer-copyright-text {
    float: none
  }
}

.footer-social {
  margin: 0;
  padding: 0;
  float: right
}

@media screen and (max-width: 35.99em) {
  .footer-social {
    clear: both;
    overflow: auto;
    float: none;
    margin-bottom: 8px
  }
}

.footer-social-icon {
  float: left;
  list-style: none;
  margin-right: 18px;
  text-indent: -9999px;
  opacity: 0.5;
  transform: translateY(0);
  transition: all 0.3s ease-in-out
}

.footer-social-icon:hover {
  opacity: 1;
  transform: translateY(-2px)
}

.footer-social-icon-fb {
  display: block;
  width: 22px;

}

.footer-social-icon-tw {
  display: block;
  width: 22px;

}

.footer-social-icon-i {
  display: block;
  width: 22px;

}

.footer-social-icon-yt {
  display: block;
  width: 22px;

}

.footer-menu {
  display: block;
  width: 50%;
  float: right;
  line-height: 40px;
  margin-top: 40px
}

@media screen and (min-width: 62em) {
  .footer-menu {
    width: 18%;
    float: left;
  }
}

.footer-menu-title {
  display: block;
  font-size: 16px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 2vw;
  margin-bottom: 10px
}

.footer-menu-list {
  margin: 0;
  padding: 0 0 0 2vw
}

.footer-menu-item {
  display: block
}

.footer-menu-item a, .footer-menu-item a:active, .footer-menu-item a:focus, .footer-menu-item a:visited {
  display: block;
  color: #EBFF82;
  font-size: 15px;
  text-decoration: none
}
.footer-menu-item a:hover{
  color: #B08C00;
}
.contact-container {
  display: block;
  position: relative;
  top: -40px;
  font-size: 15px;
  background:#fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
  margin: 0 20px
}
.about-img{
  margin-left: 10%;
  width: 80%;
}
@media screen and (min-width: 62em) {
  .contact-container {
    width: 500px;
    margin: 0;
    float: right;
  }
}

.contact-title {
  display: block;
  color: #000;
  font-size: 20px
}

@media screen and (min-width: 62em) {
  .contact-title {
    font-size: 24px
  }
}

.contact-text {
  opacity: 0.5
}

.contact-info {
  display: block;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5
}

.contact-option-list {
  margin: 0;
  padding: 0
}

.contact-option-list:after {
  content: "";
  display: table;
  clear: both
}

.contact-option {
  list-style-type: none;
  display: block;
  margin: 10px 0;
  padding-left: 32px
}

@media screen and (min-width: 36em) {
  .contact-option {
    width: 50%;
    float: right;
  }
}

.contact-option a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out
}

.contact-option a:hover {
  color: #B08C00;
}

.contact-label {
  display: block;
  margin-bottom: -4px;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 700
}
