
/*  Fonts  */
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*  General CSS*/
body{
    background: #fff;
    position: relative;
}
.container-fluid {
    padding: 0% 0% 0% 0%;
    position: relative !important;
}



h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}


/*Navigation Bar*/
.nav{
  padding: 10px 2px 10px 2px;
}
.navbar-cont{
  margin-bottom: 10px !important;
}
.nav, ul{
  float: right;
}
/*Navigation Bar Ends*/




.video{
  margin-bottom: 0!important;
 
  z-index: -101;
}


video#bgVideo {

          position:relative;
          left:50%;
          width:100% !important;
          height:100% !important;
          z-index:-10;
          -ms-transform: translateX(-50%) translateY(-50%);
          -moz-transform: translateX(-50%) translateY(-50%);
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
video {
          margin-top: 10%;
          display:block;
          margin-bottom: 0px;
          background-size: cover;
        }

@media only screen and (max-width: 768px) {
  video {
    display:none;
  }
  body{
    background-image:url(“https://static.pexels.com/photos/134/light-creative-abstract-colorful.jpg”);
  }
}
.caption{
  padding-top: 150px;
}




/*Listen Power Connect Section */

.col-lg-4{
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
}

/*Listen Power Connect Section  Ends*/
/* PARALLAX */

.keyart, .keyart_layer {
	height: 1000px;
}

#parallax {
	display: block;
}
#nonparallax {
	display: block;
}


.keyart {
	position: relative;
	z-index: -10;
}
.keyart,.keyart_layer{
    height: 100px;
}

.keyart_layer {
    background-position: bottom center;
    background-repeat: repeat-x;
    background-size: auto 1038px;
	width: 100%;
    min-height: 100%:
	position: fixed;
}
.keyart_layer.parallax {

    background-position: center;
    background-repeat: repeat-x;    
    background-size: auto 1038px;
	width: 100%;
    min-height: 100%;
	position: absolute;
}
	#keyart-0 {
		background-image: url('../images/parallax/parallax0.png');
		background-color: #ff5249;
	}
	#keyart-1 {
		background-image: url('../images/parallax/parallax1.png');
	}
	#keyart-2 {
		background-image: url('../images/parallax/parallax2.png');
	}
	#keyart-3 {
		background-image: url('../images/parallax/parallax3.png');
	}
	#keyart-4 {
		background-image: url('../images/parallax/parallax4.png');
	}
	#keyart-5 {
		background-image: url('../images/parallax/parallax5.png');
	}
	#keyart-6 {
		background-image: url('../images/parallax/parallax6.png');
	}
	#keyart-8 {
		background-image: url('../images/parallax/parallax8.png');
	}
	#keyart-scrim {
		background-color: #1B0000;
		opacity: 0;
	}



/********************/
/********************/
/* ENABLES PARALLAX */
/********************/
/********************/

@media (min-width: 601px) {

	#nonparallax {
		display: none;
	}
	#parallax {
		display: block;
	}

}

/* PARALLAX */

	.keyart, .keyart_layer {
		height: 700px;
	}

	.keyart_layer {
		position: absolute;
		background-size: auto auto;
	}
/*End Parallax*/





/*    testimonials    */
.testimonials{
    position: relative;
    padding: 0 1% 1% 1%;
}

.testimonials ul{
    margin-top: 70px;
    list-style: none;
    float: center;
}

.testimonials ul li{
    display: inline-block;
    float: center;
    width: 313px;
}

.testimonials ul li:first-child{
    margin-left: 0;
}

.testimonials ul li .quotes{
    margin-right: 10px;
}

.testimonials ul li p{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .5px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ecebeb;
    position: fixed;
}

.testimonials ul li p .triangle{
    display: block;
    width: 10px;
    height: 5px;
    background: url('../img/testimonial_triangle.png') no-repeat;
    position: absolute;
    bottom: -5px;
    left: 40px;
}

.testimonials ul li .client{
    margin-left: 20px;
}

.testimonials ul li .client img.avatar{
    float: left;
    margin-right: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.testimonials ul li .client .client_details{
    float: left;
}

.testimonials ul li .client .client_details h4{
    color: #7b7979;
    font-family: "raleway-semibold";
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.testimonials ul li .client .client_details h5{
    color: #7b7979;
    font-family: "raleway-regular";
    font-size: 12px;
    margin: 0;
    font-weight: normal;
}

/*Featured Products*/
.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
    font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
  .carousel-inner .next        { left:  50%; }
  .carousel-inner .prev        { left: -50%; }
  .carousel-col                { width: 50%; }
  .active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
  .carousel-inner .next        { left:  50%; }
  .carousel-inner .prev        { left: -50%; }
  .carousel-col                { width: 50%; }
  .active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
  .carousel-inner .next        { left:  33%; }
  .carousel-inner .prev        { left: -33%; }
  .carousel-col                { width: 33%; }
  .active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
  .carousel-inner .next        { left:  25%; }
  .carousel-inner .prev        { left: -25%; }
  .carousel-col                { width: 25%; }
  .active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
  .active > div:first-child + div + div + div { display:block; }
}

.block {
  width: 306px;
  height: 230px;
}

.red {background: red;}

.blue {background: blue;}

.green {background: green;}

.yellow {background: yellow;}
.fproducts{
    z-index: 2000;
    padding: 1%;
    background-color: #fafffa;
    align-content: center;
    text-align: center;
}
.fproducts h1{
    align-content: center;
}

.fproducts ul{
    margin-top: 70px;
    list-style: none;
    float: center;
}

.fproducts ul li{
    display: inline-block;
    float: center;
    width: 313px;
}

.testimonials ul li:first-child{
    margin-left: 0;
}

.fproducts ul li .quotes{
    margin-right: 10px;
}

.fproducts ul li p{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .5px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ecebeb;
    position: relative;
}

.fproducts ul li p .triangle{
    display: block;
    width: 10px;
    height: 5px;
    background: url('../img/testimonial_triangle.png') no-repeat;
    position: absolute;
    bottom: -5px;
    left: 40px;
}

.fproducts ul li .client{
    margin-left: 20px;
}

.fproducts ul li .client img.avatar{
    float: left;
    margin-right: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

.fproducts ul li .client .client_details{
    float: left;
}

.fproducts ul li .client .client_details h4{
    color: #7b7979;
    font-family: "raleway-semibold";
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.fproducts ul li .client .client_details h5{
    color: #7b7979;
    font-family: "raleway-regular";
    font-size: 12px;
    margin: 0;
    font-weight: normal;
}

/*Featured Products Ends*/




/*    footer    */
footer{
    padding: 35px 0;
    padding-right: 35px;
    margin: 0;
    background-color: #252727;
    position: fixed bottom center;
    left: 0;
    right: 0;
    bottom: 0px !important;
    height: auto;
}

footer .footer_logo{
    float: left;
}

footer .rights p{
    float: left;
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    margin: 5px 0 0 40px; 
}

footer .rights p a{
    color: #777;
    font-family: "raleway-semibold";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

footer nav ul{
    float: right;
    overflow: hidden;
    list-style: none;
    margin-top: 5px; 
}

footer nav ul li{
    float: left;
    margin-left: 25px;
}

footer nav ul li a{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer nav ul li a:hover{
    color: #616161;
}
.footer-content{
  text-align: center;
}
