
#multiscroll{
  display: block;
}
/*Earphones*/
.ebutton{
    margin-left: 30%;
    margin-bottom: 10%;
    color: #d4e6f1;
    font-size: 3vh;
    font-family: "raleway-regular", arial;
    background-color: Transparent;
}
.earphones{
    background-image: url('../img/OpI/ear1.png');
    background-size: cover;
    background-position: 0%;
    background-color: #b3b3b3;
}
.earphones,h1{
    color: #f1dfff;
}
.earphones-description{
    background-image: url('../img/OpI/ear2.png');
    background-size: cover;
    background-position: center;
    background-color: #b3b3b3;
    text-align: center;
    font-size: 3vh;
    font-family: "raleway-regular", arial;
}
.earphones-content{
    color: #d4e6f1;
    text-shadow: firebrick;
    margin-left: 20%;
    width: 70%;
}
.eheading{
    margin-bottom: 60%;
    margin-left: 20%;
    font-size: 8vh;
    color: #d4e6f1;
    text-shadow: firebrick;
}


/*Earphones end*/
/* Car Chargers*/
.car-chargers{
    background-image: url('../img/OpI/car112.png');
    background-size: cover;
    background-position: center;
    background-color: #b3b3b3;
    text-align: center
}
.car-chargers-description{
    background-image: url('../img/OpI/car111.png');
    background-size: cover;
    background-position: center;
    background-color: #d4e6f1;
    text-align: center;
    font-size: 3vh;
    font-family: "raleway-regular", arial;
}
.car-content{
    color: #91cac3;
    text-shadow: firebrick;
    margin-left: 20%;
    width: 70%;
}
.cheading{
    margin-top: 40%;
    margin-right: 50%;
    font-size: 8vh;
    color:  #91cac3;
    text-shadow: firebrick;
}
.cbutton{
    margin-right: 49%;
    margin-bottom: 2%;
    color: #91cac3;
    font-size: 3vh;
    font-family: "raleway-regular", arial;
    background-color: Transparent;
}
/*Car Chargers end*/
/*Speakers*/
.speakers{
    background-image: url('../img/OpI/speaker1.png');
    background-size: cover;
    background-position: center;
    background-color: #b3b3b3;
    text-align: center;
}
.speakers-description{
    background-image: url('../img/OpI/speaker2.png');
    background-size: cover;
    background-position: center;
    background-color: #d4e6f1;
    text-align: center;
    font-size: 3vh;
    font-family: "raleway-regular", arial;
}
.sheading{
    margin-top: 60%;
    margin-left: 30%;
    font-size: 8vh;
    color:  #91cac3;
    text-shadow: firebrick;
}
.spButton{
  color: #91cac3;
  font-size: 3vh;
  font-family: "raleway-regular", arial;
  background-color: Transparent;
}
.speaker-content{
    color: #91cac3;
    text-shadow: firebrick;
    margin-left: 20%;
    width: 70%;
}
/*Speakers end*/

/*Cables*/
.cables{
    background-image: url('../img/OpI/cable1.png');
    background-size: cover;
    background-position: 0%;
    background-color: #b3b3b3;
}
.cables-description{
    background-image: url('../img/OpI/cable2.png');
    background-size: cover;
    background-position: center;
    background-color: #b3b3b3;
    text-align: center;
    font-size: 3vh;
    font-family: "raleway-regular", arial;
}

.cable-content{
    color: #91cac3;
    text-shadow: firebrick;
    margin-left: 20%;
    width: 70%;
}
.cableHeading{
    margin-top: 2%;
    margin-left: 20%;
    font-size: 8vh;
    color:  #91cac3;
    text-shadow: firebrick;
}
.cableButton{
    margin-left: 21%;
    margin-top: 30%;
    color: #91cac3;
    font-size: 3vh;
    font-family: "raleway-regular", arial;
    background-color: Transparent;
}
/*Cables end*/
#mobile-version{
  display: none;
}

@media  only screen and (max-width: 681px){
  #multiscroll{
    display: none;
  }
  #mobile-version{
    display: block;
  }
  .earphones{
      background-image: url('../img/OpI/ear1.png') !important;
      background-size: cover !important;
      background-color: #b3b3b3 !important;
      z-index: -1;
  }
  .ebutton{
    margin-top: 20%;
      color: #d4e6f1;
      font-size: 3vh;
      font-family: "raleway-regular", arial;
      background-color: Transparent;
  }
  .eheading{
      padding-top: 20%;
      margin-left:20%;;
      font-size: 8vh;
      color: #d4e6f1;
      text-shadow: firebrick;
  }

  .car-chargers{
      background-image: url('../img/OpI/car112.png')  !important;
      background-size: cover !important;
      background-color: #b3b3b3;
      text-align: center
  }

  /*Earphones end*/
  /* Car Chargers*/

  .cheading{
      font-size: 8vh;
      color:  #91cac3;
      text-shadow: firebrick;
  }
  .cbutton{
      color: #91cac3;
      font-size: 3vh;
      font-family: "raleway-regular", arial;
      background-color: Transparent;
  }
  /*Car Chargers end*/

}
