#main{
  margin-top:90px;
}
*/
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15)
}

.chosen-container.chosen-with-drop .chosen-drop {
  left: 0
}

.chosen-container a {
  cursor: pointer
}

.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999
}

.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top
}

.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  text-decoration: none;
  white-space: nowrap;
  line-height: 26px;
  font-size: 14px
}

.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap
}

.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px
}

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 1px
}

.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px
}

.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%
}

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%
}

.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap
}

.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0
}

.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px
}

.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch
}

.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer
}

.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default
}

.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff
}

.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4
}

.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default
}

.chosen-container .chosen-results li.group-option {
  padding-left: 15px
}

.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline
}

.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text
}

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none
}

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0
}

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default
}

.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px
}

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0
}

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default
}

.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset
}

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px
}

.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important
}

.chosen-disabled {
  opacity: .5 !important;
  cursor: default
}

.chosen-disabled .chosen-single {
  cursor: default
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default
}

.chosen-rtl {
  text-align: right
}

.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0
}

.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl
}

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px
}

.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px
}

.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px
}

.chosen-rtl .chosen-choices li {
  float: right
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl
}

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px
}

.chosen-rtl.chosen-container-single-nosearch .chosen-search, .chosen-rtl .chosen-drop {
  left: 9999px
}

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0
}

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none
}

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('chosen-sprite.png') no-repeat -30px -20px;
  background: url('chosen-sprite.png') no-repeat -30px -20px;
  direction: rtl
}

.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-resolution:144dpi), only screen and (min-resolution:1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"], .chosen-container-single .chosen-single abbr, .chosen-container-single .chosen-single div b, .chosen-container-single .chosen-search input[type="text"], .chosen-container-multi .chosen-choices .search-choice .search-choice-close, .chosen-container .chosen-results-scroll-down span, .chosen-container .chosen-results-scroll-up span {
    background-image: url('chosen-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important
  }
}

.chosen-container .chosen-drop {
  top: 0;
  border: 0
}

.chosen-container .chosen-drop .chosen-search {
  padding: 0
}

.chosen-container .chosen-results {
  margin: 0;
  padding: 0
}

.chosen-container .chosen-results .no-results a {
  text-decoration: none;
  font-size: 90%;
  color: #000;
  display: block;
  margin-top: 5px
}

.chosen-container .chosen-results .no-results a:hover {
  text-decoration: none
}

.chosen-container .chosen-results .no-results a:hover span {
  text-decoration: underline;
  color: #ff3300
}

.mod_article form .segment .chosen-with-drop .chosen-single {
  border-radius: 3px 3px 0 0
}

.mod_article form .segment .chosen-container-active .chosen-single {
  box-shadow: none;
  border-color: #ff3300
}

.chosen-container .chosen-results li {
  transition: .2s
}

.chosen-container .chosen-results li.highlighted {
  background: #ff3300;
  color: #fff
}

.nobreaks {
  display: inline-block
}

.knowledge-base .column-wrapper .column>h4 {
  font-size: 24px;
  margin: 0 0 30px
}

.knowledge-base .column-wrapper .column.products .item .teaser {
  display: block;
  height: auto
}

.knowledge-base .column-wrapper .column.products .item h4 {
  margin: 0 0 5px
}

.search-suggestions {
  overflow: hidden;
  clear: both;
  position: relative;
  top: 10px
}

.search-suggestions h3 {
  font-size: 14px;
  margin: 0 0 10px;
  float: left;
  padding-right: 10px;
  vertical-align: middle;
  line-height: 24px;
  color: #7c7e81;
  max-width: 26%
}

.search-suggestions ul {
  list-style: none;
  margin: 0 -5px;
  padding: 0;
  float: left;
  max-width: 72%
}

.search-suggestions ul li {
  display: inline-block;
  border-bottom: 1px solid #ddd;
  color: #7c7e81;
  cursor: pointer;
  margin: 0 5px 5px;
  line-height: 24px;
  transition: .2s;
  vertical-align: middle
}

.search-suggestions ul li:hover {
  color: #ff3300;
  border-color: #ff3300
}

.ty-message {
  border: 2px solid #ff3300;
  padding: 20px;
  margin: 60px auto;
  width: 90%;
  max-width: 500px;
  text-align: center
}

.ty-message p+hr {
  display: none
}

.product-support-detail .button.show-lang, .en_GB .button.show-lang, .en_NO .button.show-lang, .en_EU .button.show-lang, .en_US .button.show-lang {
  display: none !important
}

.support-tabs .nav ul, .toggle:hover, form.search input:hover, form.seach input:focus, section.contact .block {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1)
}

section.navigation ul a, section.contact .block:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.1)
}

section.navigation ul a:hover, section.navigation ul a.active {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1)
}

section.navigation ul a {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5), 0 3px 3px rgba(0, 0, 0, 0.1)
}

section.navigation ul a:hover, section.navigation ul a.active {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.7), 0 3px 3px rgba(0, 0, 0, 0.1)
}

.avant {
  font-family: 'AvantGardeGothicITCW01B 731063', "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif
}

.fwlight {
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue";
  font-weight: 100
}

section.contact .block {
  text-align: center
}

section.contact {
  border-top: 1px solid #ddd
}

section.navigation ul {
  padding-bottom: 10px
}

section.navigation ul .copy {
  color: #35383a;
  font-size: 16px;
  text-transform: uppercase
}

section.navigation {
  position: relative;
  background-size: 100%
}

@media (max-width:980px) {
  section.navigation {
    background-size: cover;
    background: linear-gradient(left, #dae0e3 0, #dce3da 100%)
  }
}

section.navigation h2 {
  color: white;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.5)
}

section.navigation .copy {
  font-family: 'AvantGardeGothicITCW01B 731063', "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif
}

h1 {
  text-transform: uppercase;
  font-family: 'AvantGardeGothicITCW01B 731063', "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif
}

@media (min-width:1050px) {
  section.search {
    background-image: url(images/jbl-headphone.png);
    background-repeat: no-repeat;
    background-position: 5% center
  }

  .tab section.search {
    background-image: none;
    border-radius: 3px 0 0 3px
  }
}

section.top {
  background: #dae0e3 url("images/bg-nav.jpg") no-repeat top center
}

.product-support section.top {
  background: #dae0e3 url("images/product-support-visual.jpg") no-repeat center center
}

.product-support section.top h1 {
  color: white;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.5)
}

.support-overview section.top {
  background: url("images/overview-visual.jpg") no-repeat center 0 fixed;
  position: relative
}

.support-overview section.top a {
  background: url("images/overview-visual-blur.jpg") no-repeat center 0 fixed;
  position: relative
}

.support-overview section.top a.active, .support-overview section.top a.f-active, .support-overview section.top a:hover {
  background: url("images/overview-visual-blur.jpg") no-repeat center 0 fixed
}

.support-overview section.top a:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  content: " ";
  display: block;
  z-index: 0;
  pointer-events: none
}

@media (max-width:980px) {
  .support-overview section.top {
    background-position: 27% 0
  }

  .support-overview section.top a {
    background-position: 27% 0
  }

  .support-overview section.top a.active, .support-overview section.top a.f-active, .support-overview section.top a:hover {
    background-position: 27% 0
  }
}

.support-overview section.top h2 {
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue";
  font-weight: 100
}

.support-overview section.top h1 {
  z-index: 1;
  font-size: 4.8vw;
  position: relative
}

@media (min-width:1600px) {
  .support-overview section.top h1 {
    font-size: 80px
  }
}

@media (max-width:980px) {
  .support-overview section.top h1 {
    font-size: 36px
  }
}

.support-overview section.top h1, .support-overview section.top h2 {
  color: white;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.5)
}

.product-support section.top h1 {
  margin-bottom: 0
}

@media (min-width:1600px) {
  .fr_FR.support-overview section.top h1, .fr_BE.support-overview section.top h1, .fr_CH.support-overview section.top h1, .da_DK.support-overview section.top h1, .fi_FI.support-overview section.top h1, .sv_SE.support-overview section.top h1 {
    font-size: 60px
  }
}

@media (max-width:980px) {
  form.search {
    position: relative
  }

  form.search:after {
    content: "\004E";
    font-family: "JBL";
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 25%;
    text-align: center;
    color: white;
    pointer-events: none
  }

  form.search .submit {
    text-indent: -1000%
  }
}

@media (min-width:640px) {
  .product-support-detail section.top .highlight {
    background: url(images/icon-jbl-element.svg) no-repeat 20px center;
    background-size: auto 80%;
    padding-left: 128px
  }
}

section.form {
  background: linear-gradient(to right, #f1f3f5 0, #f2f5f1 100%)
}

section.form form {
  margin-bottom: 0
}

section.form form h2 {
  margin-bottom: 60px
}

.mod_article label {
  font-family: "HelveticaNeueW01-75Bold", Helvetica, sans-serif;
  font-weight: normal
}

.contact-blocks {
  background: url(images/contact-visual.jpg) no-repeat right center;
  background-size: cover
}

@media (max-width:1100px) {
  section.support-tabs>.content .tab section {
    margin-right: 0
  }
}

.returns section.top {
  background: url("images/returns-visual.jpg") no-repeat center 37%;
  background-size: cover;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px
}

.returns section.top h1, .returns section.top h2 {
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.5)
}

@media (max-width:980px) {
  .returns section.top {
    background-position: center 23%
  }
}

.returns section.top+section {
  padding-top: 40px;
  padding-bottom: 40px
}

form.search .keywords+.submit {
  padding: 8px 10px;
  border-color: #ff3300
}

.search-pa+.results .item-wrapper .item.no-pa .cta .button:first-child {
  font-family: "HelveticaNeueW01-45Ligh", "Helvetica Neue";
  font-weight: 100
}

.mod_article form .segment .chosen-single:after {
  content: "\004E";
  font-family: "JBL";
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 10px;
  text-align: center;
  color: #7c7e81;
  pointer-events: none;
  z-index: 9999
}

b, strong {
  font-family: "HelveticaNeueW01-75Bold", Helvetica, sans-serif;
  font-weight: normal
}

.swiper-wrapper {
  padding-left: 50px;
  padding-right: 50px
}

#DW-SFToolkit, #atlwdg-trigger, #header-banner-container {
  display: none !important
}

/*# sourceMappingURL=./style.min.css.map */
